body {
  font-family: "Lato", sans-serif;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: linear-gradient(#34495e, #5e3449);
  color: #fff;
}

#timer{
  text-align: center;
  font-size: 2.5rem;
  margin-top: auto;
  margin-bottom: auto;
}

.outcome {
  text-align: center;
}

.scoreboard {
  padding: 0.25rem;
}

.scoreboard ul {
  border: 0.05rem solid #fff;
  border-radius: 0.25rem;
}

.scoreboard li {
  padding: 0.5rem 0.75rem;
  background-color: transparent;
  border: none;
  border-bottom: 0.1rem #333 solid;
}

.scoreboard li:last-child {
  border-bottom: none;
}

.gameSettings {
  text-align: center;
}

.showHistory {
  overflow-y: auto;
}

.historyList {
  list-style: disc;
  padding: 0.5rem;
}

.historyList li {
  background-color: transparent;
  text-align: left;
  border: none;
  padding: 0.5rem;
}

.listWeapons {
  text-align: center;
  margin-top: auto;
  margin-bottom: 0.25rem;
}

.resultPreviousRound {
  margin-top: auto;
}
